<div  class="header-container">
<div class="header-left">
  <img src="https://cdn.discordapp.com/attachments/1356890391424536576/1375453050503692378/Logo-Photoroom.png?ex=68365b39&is=683509b9&hm=86290e5a290cc4f744a259d13fb011bcbbf666bd1d221ede85b587dfdf1c5974&" alt="Logo" class="logo">
  <p>Luminary</p>
</div>
  
  <p class="font-bold text-1xl italic font-bold">Luminary</p>
  <div class="header-right">
    <button><i class="bi bi-heart"></i></button>
    <button><i class="bi bi-bag"></i></button>
    <div class="header-right-dropdown">
    <app-button label="Login" (onClick)="showLogin()"  />
    <app-button label="Register" (onClick)="showRegister()" />
    </div>
  </div>

</div>
