.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--bg-primary);
    box-shadow: 0 2px 4px var(--border-light);
    border-radius: 8px;
    border-bottom: 1px solid var(--border-light);
    height: 8rem;
}

.header-container .header p{
    font-size: 2rem;
    font-weight: bold;
    color:var(--secondary-dark);
    margin-left: 1rem;
}

.header-container .header-left img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--border-light);
    padding: 6px;
    background-color: var();
    // color: var(--secondary-light);
    box-shadow: 0 4px 4px var(--secondary-dark);
    margin: 0 auto;
    background-color: var(--bg-dark);
}

.header-container .header-right {
    display: flex;
    align-items: center;
}
.header-container .header-right button {
    display: flex;
    margin-left: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.header-container .header-right button:hover {
    color: rgb(0, 0, 0);
}
.header-container .header-right button i {
    font-size: 1.5rem;
}
.header-right-dropdown button{
    padding: 8px 12px;
    gap: 1rem;
    font-size: 16px;
  
}

.header-container .header-right .header-right-dropdown button{
  
    align-items: center;
    background-color: var(--secondary-dark);
    border: none;
    cursor: pointer;
    border-radius: 6px;
    color: var(--tertiary-light);
}
