.wishlist-container {
  padding: 20px;
  
}

.item-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.item-card img {
  width: 300px;
  height: auto;
  margin-right: 15px;
  border: blue;
}

.details {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 5px;
  padding: 6px 10px;
}
