
<footer>
    <div class="accountDetails">
      <h4> <b>About</b> </h4>
      <p>Blog</p>
      <p>Meet the team</p>
      <p>Contact Us</p>
    </div>
  
    <div class="details">
      <h3 class="follow"> Follow us on social media</h3>
      <p class="follow">Stay connected with us on our social media platforms.</p>
      <div class="socials">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter-x"></i>
        <i class="bi bi-linkedin"></i>
  
      </div>
    </div>
    <div class="companyInfo">
      <h4><b>Support</b></h4>
      <p>Shipping</p>
      <p>Return</p>
      <p>Help center</p>
      <p>FAQ</p>
    </div>
  
    <div class="contact">
      <h4><b>Get in contact</b></h4>
      <p>Call me back</p>
      <p>Tell: 081 839 4747</p>
      <p>Email: contact&#64;luminary.com
      </p>
    </div>
  
  </footer>
  
  <hr class="footerLine">
  <div class="afterFooter">
      <div class="copyRight" >
          <p class="copyright">
          &copy; 2023 <a href="" target="_blank">Dummy</a>. All rights reserved.
        </p>
      </div>
  
  <div class="terms">
      <p> 
          <a href="" target="_blank">Privacy Policy</a> |
          <a href="" target="_blank">Terms of Service</a> |
          <a href="" target="_blank">Cookie Policy</a>
      
      </p>
  </div>
  
  </div>