<main class="main-content">



    <div class="product-grid">



        <!-- Product Card -->
        <div class="product-card">

            <img src="https://media.istockphoto.com/id/2171462566/photo/newly-released-aluminium-iphone-16-pro-mockup-set-with-back-and-front-angles.jpg?s=1024x1024&w=is&k=20&c=Z0tZw-hpK1PB5xkGZy21LCUqepnawmIuQJ5_Ud58vhk="
                alt="Product">
            <div class="add-to-wishlist">
                <i class="bi bi-heart-fill"></i>
            </div>

            <h3>Iphone 16 Pro</h3>

            <div class="rating"><i class="bi bi-star-fill"></i><span> 3.4</span></div>




            <p class="description">hssimjisjcihyniuhbyjgvdtcdvghbjhgfv</p>
            <p class="price">R25 000</p>
            <div class="buttons">
                <button class="add-cart">Add to Cart</button>
                <button class="buy-now">See more...</button>
            </div>
        </div>
        <div class="product-card">
            <img src="https://media.istockphoto.com/id/2171462566/photo/newly-released-aluminium-iphone-16-pro-mockup-set-with-back-and-front-angles.jpg?s=1024x1024&w=is&k=20&c=Z0tZw-hpK1PB5xkGZy21LCUqepnawmIuQJ5_Ud58vhk="
                alt="Product">
            <div class="add-to-wishlist" (click)="goToWishlist()">
                <i class="bi bi-heart-fill"></i>
            </div>
            <h3>Iphone 16 Pro</h3>
            <div class="rating"><i class="bi bi-star-fill"></i><span> 3.4</span></div>




            <p class="description">hssimjisjcihyniuhbyjgvdtcdvghbjhgfv</p>

            <p class="price">R25 000</p>
            <div class="buttons">
                <button class="add-cart">Add to Cart</button>
                <button class="buy-now">See more...</button>
            </div>
        </div>
        <div class="product-card">
            <img src="https://media.istockphoto.com/id/2171462566/photo/newly-released-aluminium-iphone-16-pro-mockup-set-with-back-and-front-angles.jpg?s=1024x1024&w=is&k=20&c=Z0tZw-hpK1PB5xkGZy21LCUqepnawmIuQJ5_Ud58vhk="
                alt="Product">
            <div class="add-to-wishlist" (click)="goToWishlist()">
                <i class="bi bi-heart-fill"></i>
            </div>
            <h3>Iphone 16 Pro</h3>
            <div class="rating"><i class="bi bi-star-fill"></i><span> 3.4</span></div>




            <p class="description">hssimjisjcihyniuhbyjgvdtcdvghbjhgfv</p>
            <p class="price">R25 000</p>
            <div class="buttons">
                <button class="add-cart">Add to Cart</button>
                <button class="buy-now">See more...</button>
            </div>
        </div>


        <div class="product-card">
            <img src="https://media.istockphoto.com/id/2171462566/photo/newly-released-aluminium-iphone-16-pro-mockup-set-with-back-and-front-angles.jpg?s=1024x1024&w=is&k=20&c=Z0tZw-hpK1PB5xkGZy21LCUqepnawmIuQJ5_Ud58vhk="
                alt="Product">
            <div class="add-to-wishlist" (click)="goToWishlist()">
                <i class="bi bi-heart-fill"></i>
            </div>
            <h3>Iphone 16 Pro</h3>
            <div class="rating"><i class="bi bi-star-fill"></i><span> 3.4</span></div>




            <p class="description">hssimjisjcihyniuhbyjgvdtcdvghbjhgfv</p>
            <p class="price">R25 000</p>
            <div class="buttons">
                <button class="add-cart">Add to Cart</button>
                <button class="buy-now">See more...</button>
            </div>
        </div>

        <div class="product-card">
            <img src="https://media.istockphoto.com/id/2171462566/photo/newly-released-aluminium-iphone-16-pro-mockup-set-with-back-and-front-angles.jpg?s=1024x1024&w=is&k=20&c=Z0tZw-hpK1PB5xkGZy21LCUqepnawmIuQJ5_Ud58vhk="
                alt="Product">
            <div class="add-to-wishlist" (click)="goToWishlist()">
                <i class="bi bi-heart-fill"></i>
            </div>
            <h3>Iphone 16 Pro</h3>
            <div class="rating"><i class="bi bi-star-fill"></i><span> 3.4</span></div>




            <p class="description">hssimjisjcihyniuhbyjgvdtcdvghbjhgfv</p>
            <p class="price">R25 000</p>
            <div class="buttons">
                <button class="add-cart">Add to Cart</button>
                <button class="buy-now">See more...</button>
            </div>

        </div>

        <div class="product-card">

            <img src="https://media.istockphoto.com/id/2171462566/photo/newly-released-aluminium-iphone-16-pro-mockup-set-with-back-and-front-angles.jpg?s=1024x1024&w=is&k=20&c=Z0tZw-hpK1PB5xkGZy21LCUqepnawmIuQJ5_Ud58vhk="
                alt="Product">

            <div class="add-to-wishlist" (click)="goToWishlist()">
                <i class="bi bi-heart-fill"></i>
            </div>
            <h3>Iphone 16 Pro</h3>
            <div class="rating"><i class="bi bi-star-fill"></i><span> 3.4</span></div>




            <p class="description">hssimjisjcihyniuhbyjgvdtcdvghbjhgfv</p>
            <p class="price">R25 000</p>
            <div class="buttons">
                <button class="add-cart">Add to Cart</button>
                <button class="buy-now">See more...</button>
            </div>

        </div>

        <div class="product-card">
            <img src="https://media.istockphoto.com/id/2171462566/photo/newly-released-aluminium-iphone-16-pro-mockup-set-with-back-and-front-angles.jpg?s=1024x1024&w=is&k=20&c=Z0tZw-hpK1PB5xkGZy21LCUqepnawmIuQJ5_Ud58vhk="
                alt="Product">
            <div class="add-to-wishlist" (click)="goToWishlist()">
                <i class="bi bi-heart-fill"></i>
            </div>
            <h3>Iphone 16 Pro</h3>
            <div class="rating"><i class="bi bi-star-fill"></i><span> 3.4</span></div>




            <p class="description">hssimjisjcihyniuhbyjgvdtcdvghbjhgfv</p>
            <p class="price">R25 000</p>
            <div class="buttons">
                <button class="add-cart">Add to Cart</button>
                <button class="buy-now">See more...</button>
            </div>

        </div>

        <div class="product-card">
            <img src="https://media.istockphoto.com/id/2171462566/photo/newly-released-aluminium-iphone-16-pro-mockup-set-with-back-and-front-angles.jpg?s=1024x1024&w=is&k=20&c=Z0tZw-hpK1PB5xkGZy21LCUqepnawmIuQJ5_Ud58vhk="
                alt="Product">
            <div class="add-to-wishlist" (click)="goToWishlist()">
                <i class="bi bi-heart-fill"></i>
            </div>

            <h3>Iphone 16 Pro</h3>
            <div class="rating"><i class="bi bi-star-fill"></i><span> 3.4</span></div>




            <p class="description">hssimjisjcihyniuhbyjgvdtcdvghbjhgfv</p>
            <p class="price">R25 000</p>
            <div class="buttons">
                <button class="add-cart">Add to Cart</button>
                <button class="buy-now">See more...</button>
            </div>

        </div>

        <div class="product-card">
            <img src="https://media.istockphoto.com/id/2171462566/photo/newly-released-aluminium-iphone-16-pro-mockup-set-with-back-and-front-angles.jpg?s=1024x1024&w=is&k=20&c=Z0tZw-hpK1PB5xkGZy21LCUqepnawmIuQJ5_Ud58vhk="
                alt="Product">
            <div class="add-to-wishlist" (click)="goToWishlist()">
                <i class="bi bi-heart-fill"></i>
            </div>
            <h3>Iphone 16 Pro</h3>
            <div class="rating"><i class="bi bi-star-fill"></i><span> 3.4</span></div>




            <p class="description">hssimjisjcihyniuhbyjgvdtcdvghbjhgfv</p>
            <p class="price">R25 000</p>
            <div class="buttons">
                <button class="add-cart">Add to Cart</button>
                <button class="buy-now">See more...</button>
            </div>

        </div>

        <div class="product-card">
            <img src="https://media.istockphoto.com/id/2171462566/photo/newly-released-aluminium-iphone-16-pro-mockup-set-with-back-and-front-angles.jpg?s=1024x1024&w=is&k=20&c=Z0tZw-hpK1PB5xkGZy21LCUqepnawmIuQJ5_Ud58vhk="
                alt="Product">
            <div class="add-to-wishlist" (click)="goToWishlist()">
                <i class="bi bi-heart-fill"></i>
            </div>
            <h3>Iphone 16 Pro</h3>
            <div class="rating"><i class="bi bi-star-fill"></i><span> 3.4</span></div>




            <p class="description">hssimjisjcihyniuhbyjgvdtcdvghbjhgfv</p>
            <p class="price">R25 000</p>
            <div class="buttons">
                <button class="add-cart">Add to Cart</button>
                <button class="buy-now">See more...</button>
            </div>

        </div>



    </div>

</main>