
.main-content {
    flex: 1;
    width: 100vw;
    overflow-x: hidden;
    padding: 30px;

  }
 

  .main-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .product-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
  }

  .product-card {
    background-color: var( --bg-primary);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px var(secondary-dark);
    text-align: center;
    position: relative;
  }

  .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  .product-card h3 {
    font-size: 18px;
    margin: 10px 0 5px;
  }

  .product-card p {
    color: var(--text-secondary );
    font-weight: bold;
  }


.add-to-wishlist i{ 
    color: var( --primary-dark);

    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
    position:absolute;
    top: 0;
    right: 0;
    margin-right: 23px;
    margin-top: 1.5rem;


  }

  .product-card .price {
    font-size: 16px;
    color: var(--secondary-dark);
    margin-bottom: 10px;
  }

  .product-card .description {
    font-size: 1rem;
    color: var(--secondary-main);
    margin-bottom: 15px;
    margin-top: 2rem;
  }

  .product-card .rating {
    margin-right: -27rem;
    margin-bottom: 10px;
    margin-top: -2.5rem;
  }

  .product-card .rating i {
    margin-right: 2px;
    color: #f39c12;
  }

  .product-card button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var( --secondary-dark);
    color: var(--text-inverse );
    cursor: pointer;
    font-size: 16px;
  }

  .product-card button:hover {
    background-color: var( --primary-light );



  
}
  .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .buttons button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .add-cart {
    background-color: var( --secondary-dark);
    color: var(--text-inverse );
  }

  .buy-now {
    background-color: var(--text-inverse );
    border: 1px solid var( --secondary-dark);
  }
 
  